<div id="col2" class="column">

<% content_for :title, "" + @page.name %>


<div id="breadcrumbs">
  <% @page.ancestors.each do |page| %>
    <%= link_to page.name, page %> &gt;
  <% end %>
</div>

<p id="notice"><%= notice %></p>
<h1><%= @page.name %></h1>





<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>

</div>
